header {
    background-color: #A03333;
}

.container-header {
    max-width: 1440px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    display: flex;
    z-index: 100;
}

ul {
    display: flex;
    z-index: 100;
    gap: 30px;
    list-style: none;
    align-items: center;
    text-align: center;
}

li {
    font-size: 24px;
    color: #fff;
    line-height: 28px;
    font-family: 'Bebas Neue', sans-serif;
}

button {
    width: 152px;
    height: 44px;
    text-align: center;
    font-size: 24px;
    background: linear-gradient(45deg, #222222 0%, #222222 90%, transparent 90%);
    border: none;
    font-family: 'Bebas Neue', sans-serif;
    text-decoration: none;
    color: #fff;
}

@media (max-width:1440px){
 
    .container-header {
        max-width: 1110px;
        margin: 0 auto;
        justify-content: space-between;
        align-items: center;
        height: 90px;
        display: flex;
    }
}